amarillo_claro = #ffe788
celeste = #2196f3
celeste_lighten_1=#42a5f5
azul = #1e67c7
azul_acero = #1e6381
azul_oscuro = #273b47
gris = #FAFAFA
gris_claro = #eff2e7
gris_light = #888
gris_oscuro = #333636
rojo = #ff4842
verde_pastel = #26a69a
background-img(src)
	background url(src)
	background-size cover
	background-position center
	background-repeat no-repeat

.text-truncate
{
  	text-overflow: ellipsis;
  	overflow: hidden;
	white-space: nowrap;
}

.border-dinamico-left-right-red-2
	border-bottom 2px solid rojo

.flex-full-center
	display flex
	justify-content center
	align-items center
.flex-row-reverse
	display flex
	flex-direction row-reverse
.flex-direction-column
	display flex
	flex-direction column
.color-black
	color black
.color-white
	color white
.color-red
	color red
.color-amarillo
	color amarillo_claro
.color-azul
	color azul
.color-celeste
	color celeste
.color-gris-oscuro
	color gris_oscuro
.color-gris-light
	color gris_light
.color-verde-pastel
	color verde_pastel
.background-amarillo
	background amarillo_claro
.background-azul
	background azul
.background-black-transparent
	background rgba(black, .3)
.background-black
	background black
.background-celeste-lighten-1
	background celeste_lighten_1
.background-celeste
	background celeste
.background-verde-pastel
	background verde_pastel
.background-white
	background white
.background-gray
	background gris_oscuro
.background-gray-claro
	background gris_claro
.background-red
	background rojo
.border-left-white-1
	border-left 1px solid white
.border-right-red-2
	border-right 2px solid rojo
.border-left-white-2
	border-left 2px solid white
.border-bottom-amarillo-1
	border-bottom 1px solid amarillo_claro
.border-bottom-amarillo-2
	border-bottom 2px solid amarillo_claro
.border-bottom-azul-1
	border-bottom 1px solid azul
.border-bottom-azul-2
	border-bottom 2px solid azul
.border-bottom-red-1
	border-bottom 1px solid red
.border-bottom-red-2
	border-bottom 2px solid red
.border-bottom-gray-1
	border-bottom 1px solid gris_oscuro
.border-bottom-gray-2
	border-bottom 1px solid gris_oscuro
.border-bottom-white-1
	border-bottom 1px solid white
.border-bottom-white-2
	border-bottom 2px solid white
.border-bottom-verde-pastel-1
	border-bottom 1px solid verde_pastel
.border-bottom-verde-pastel-2
	border-bottom 2px solid verde_pastel
.border-bottom-black-1
	border-bottom 1px solid black
.border-top-black-1
	border-top 1px solid black
.border-top-azul-2
	border-top 2px solid azul
.border-top-red-1
	border-top 1px solid rojo
.border-skyblue-1
	border 1px solid skyblue
.border-black-1
	border 1px solid black
.border-black-2
	border 2px solid black
.border-gray-1
	border 1px solid gris_oscuro
.border-red-1
	border 1px solid rojo
.border-red-2
	border 2px solid rojo
.border-white-1
	border 1px solid white
.border-white-2
	border 2px solid white
.border-radius-small
	border-radius .25em
.border-radius-medium
	border-radius .5em
.box-shadow-white-transparent
	box-shadow 0 0 10px rgba(white, .5)
.box-shadow-black-transparent
	box-shadow 0 0 10px rgba(black, .5)
.box-shadow-white
	box-shadow 0 0 10px white
.box-shadow-black
	box-shadow 0 0 10px black

.display-block
	display block
.display-none
	display none
.font-weight-bolder
	font-weight bolder
.font-size-text-0-5
	font-size .5em
.font-size-text-0-75
	font-size .75em

.font-size-text-1
	font-size 1em
.font-size-text-1-5
	font-size 1.5em
.font-size-text-2
	font-size 2em
.left
	left 0
.right
	right 0
.top-center
	top 50%
.margin-down
	margin 0 0 .5em 0
.margin-auto-left-right
	margin 0 auto
.margin-auto-up-down
	margin auto 0
.margin-normal-up-down
	margin .5em 0
.margin-normal-left
	margin 0 0 0 .5em
.margin-full-max-up-down
	margin 3em 0
.margin-full-max-up
	margin 3em 0 0 0
.margin-login
	margin 3em 0 1em 0
.oveflow-hidden
	overflow hidden
.padding-normal-left-right
	padding 0 .5em
.padding-normal-up-down
	padding .5em 0
.padding-up-down-1
	padding 1em 0
.padding-full
	padding .5em
.padding-full-max-up-down
	padding 3em 0

.padding-full-up-down-max-normal-left-right
	padding 3em .5em
.padding-normal-down
	padding 0 0 .5em 0
.padding-normal-left
	padding 0 0 0 .5em
.padding-normal-up
	padding .5em 0 0 0
.position-absolute
	position absolute
.position-relative
	position relative
.radius-circular
	border-radius 50%
.text-center
	text-align center
.text-shadow-black
	text-shadow 1px 1px 7px black
.rotulo
	font-size 1em
.titulo
	font-size 1.1em
.subtitulo
	font-size 1em
.slogan
	font-size .7em
.z-index-10
	z-index 10
.z-index-7
	z-index 7
.width-75por
	width 75%
.upper-case
	text-transform uppercase
.selected
	z-index 1
	opacity 1
	transition all 2s ease 0s
.noselected
	z-index 0
	opacity 0
	transition all 2s ease 0s
.sub-rayado
	border-radius 0 .5em 0 0
	height 5px
	width 30%


@media screen and (min-width:480px)

	.rotulo
		font-size 1.2em
	.titulo
		font-size 1.4em
	.subtitulo
		font-size 1.3em
	.slogan
		font-size 1em
@media screen and (min-width:1000px)
	.border-dinamico-left-right-red-2
		border 0
		border-right 2px solid red
	.sub-rayado
		width 20%
	.rotulo
		font-size 1.5em
	.titulo
		font-size 2em
	.subtitulo
		font-size 1.8em
	.slogan
		font-size 1.3em
