@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?asy33w');
  src:  url('../fonts/icomoon.eot?asy33w#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?asy33w') format('truetype'),
    url('../fonts/icomoon.woff?asy33w') format('woff'),
    url('../fonts/icomoon.svg?asy33w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-clip:before {
  content: "\e001";
}
.icon-mail:before {
  content: "\e002";
}
.icon-signal:before {
  content: "\e011";
}
.icon-printer:before {
  content: "\e020";
}
.icon-server:before {
  content: "\e022";
}
.icon-align-justify:before {
  content: "\e026";
}
.icon-zoom-out:before {
  content: "\e038";
}
.icon-circle-plus:before {
  content: "\e040";
}
.icon-circle-minus:before {
  content: "\e041";
}
.icon-circle-check:before {
  content: "\e042";
}
.icon-circle-cross:before {
  content: "\e043";
}
.icon-square-plus:before {
  content: "\e044";
}
.icon-square-minus:before {
  content: "\e045";
}
.icon-square-check:before {
  content: "\e046";
}
.icon-square-cross:before {
  content: "\e047";
}
.icon-map:before {
  content: "\e072";
}
.icon-head:before {
  content: "\e074";
}
.icon-power:before {
  content: "\e086";
}
.icon-plus:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
.icon-move:before {
  content: "\e118";
}
.icon-inbox:before {
  content: "\e122";
}
.icon-outbox:before {
  content: "\e123";
}
.icon-cross2:before {
  content: "\e900";
}
.icon-plus2:before {
  content: "\e901";
}
.icon-left:before {
  content: "\e902";
}
.icon-up:before {
  content: "\e903";
}
.icon-refresh:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-cog:before {
  content: "\e906";
}
.icon-picture:before {
  content: "\e907";
}
.icon-feed:before {
  content: "\e908";
}
.icon-film:before {
  content: "\e909";
}
.icon-location:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-list:before {
  content: "\e90c";
}
.icon-grid:before {
  content: "\e90d";
}
.icon-target:before {
  content: "\e90e";
}
.icon-paperclip:before {
  content: "\e90f";
}
.icon-alert:before {
  content: "\f02d";
}
.icon-check2:before {
  content: "\f03a";
}
.icon-chevron-down:before {
  content: "\f0a3";
}
.icon-chevron-left:before {
  content: "\f0a4";
}
.icon-chevron-right:before {
  content: "\f078";
}
.icon-chevron-up:before {
  content: "\f0a2";
}
.icon-circle-slash:before {
  content: "\f084";
}
.icon-clock2:before {
  content: "\f046";
}
.icon-code:before {
  content: "\f05f";
}
.icon-dash:before {
  content: "\f0ca";
}
.icon-device-mobile:before {
  content: "\f038";
}
.icon-diff:before {
  content: "\f04d";
}
.icon-globe:before {
  content: "\f0b6";
}
.icon-history:before {
  content: "\f07e";
}
.icon-home:before {
  content: "\f08d";
}
.icon-key:before {
  content: "\f049";
}
.icon-law:before {
  content: "\f0d8";
}
.icon-list-ordered:before {
  content: "\f062";
}
.icon-list-unordered:before {
  content: "\f061";
}
.icon-radio-tower:before {
  content: "\f030";
}
.icon-screen-full:before {
  content: "\f066";
}
.icon-screen-normal:before {
  content: "\f067";
}
.icon-search:before {
  content: "\f02e";
}
.icon-settings:before {
  content: "\f07c";
}
.icon-sign-in:before {
  content: "\f036";
}
.icon-sign-out:before {
  content: "\f032";
}
.icon-terminal:before {
  content: "\f0c8";
}
.icon-three-bars:before {
  content: "\f05e";
}
.icon-tools:before {
  content: "\f031";
}
.icon-trashcan:before {
  content: "\f0d0";
}
.icon-triangle-down:before {
  content: "\f05b";
}
.icon-triangle-left:before {
  content: "\f044";
}
.icon-triangle-right:before {
  content: "\f05a";
}
.icon-triangle-up:before {
  content: "\f0aa";
}
.icon-zap:before {
  content: "\26a1";
}
.icon-heart:before {
  content: "\e910";
}
.icon-cloud:before {
  content: "\e911";
}
.icon-star:before {
  content: "\e912";
}
.icon-tv:before {
  content: "\e913";
}
.icon-sound:before {
  content: "\e914";
}
.icon-video:before {
  content: "\e915";
}
.icon-trash:before {
  content: "\e916";
}
.icon-user:before {
  content: "\e917";
}
.icon-key2:before {
  content: "\e918";
}
.icon-search2:before {
  content: "\e919";
}
.icon-settings2:before {
  content: "\e91a";
}
.icon-camera:before {
  content: "\e91b";
}
.icon-tag:before {
  content: "\e91c";
}
.icon-lock:before {
  content: "\e91d";
}
.icon-bulb:before {
  content: "\e91e";
}
.icon-pen:before {
  content: "\e91f";
}
.icon-diamond:before {
  content: "\e920";
}
.icon-display:before {
  content: "\e921";
}
.icon-location2:before {
  content: "\e922";
}
.icon-eye:before {
  content: "\e923";
}
.icon-bubble:before {
  content: "\e924";
}
.icon-stack:before {
  content: "\e925";
}
.icon-cup:before {
  content: "\e926";
}
.icon-phone2:before {
  content: "\e927";
}
.icon-news:before {
  content: "\e928";
}
.icon-mail2:before {
  content: "\e929";
}
.icon-like:before {
  content: "\e92a";
}
.icon-photo:before {
  content: "\e92b";
}
.icon-note:before {
  content: "\e92c";
}
.icon-clock3:before {
  content: "\e92d";
}
.icon-paperplane:before {
  content: "\e92e";
}
.icon-params:before {
  content: "\e92f";
}
.icon-banknote:before {
  content: "\e930";
}
.icon-data:before {
  content: "\e931";
}
.icon-music:before {
  content: "\e932";
}
.icon-megaphone:before {
  content: "\e933";
}
.icon-study:before {
  content: "\e934";
}
.icon-lab:before {
  content: "\e935";
}
.icon-food:before {
  content: "\e936";
}
.icon-t-shirt:before {
  content: "\e937";
}
.icon-fire:before {
  content: "\e938";
}
.icon-clip:before {
  content: "\e939";
}
.icon-shop:before {
  content: "\e93a";
}
.icon-calendar:before {
  content: "\e93b";
}
.icon-wallet:before {
  content: "\e93c";
}
.icon-vynil:before {
  content: "\e93d";
}
.icon-truck:before {
  content: "\e93e";
}
.icon-world:before {
  content: "\e93f";
}
