{% extends 'base_main_modulo.html '%}
{% block title %} Nueva Contraseña {% endblock %}
{% load widget_tweaks %}

{% block section %}
  {% if validlink %}
     <article class="container flex-direction-column padding-full">
     	<!-- Container Form -->
     	<div class="flex-full-center ">
     		<!-- Formulario -->
     		<form action="" method="post" class="form position-relative " id="form">
     			{% csrf_token %}
     			<div class="form-head padding-normal-up-down border-bottom-red-2">
     				<h3 class="rotulo upper-case color-white text-shadow-black">
     					Nueva Contraseña
     				</h3>
     			</div>
     			<!-- Form - Body -->
     			<div class="form-body padding-normal-up-down">
     				<!-- Contraseña Nueva -->
     				<div class="componente">
     					<!-- Field -->
     					<div class="field">
     						<!-- Label -->
     						<div class="container-label">
     							<label for="{{ form.new_password1.auto_id }}" class="label font-weight-bolder">
     							{{form.new_password1.label}}
     							</label>
     						</div>
     						<!-- Input -->
     						<div class="input">
     							{{form.new_password1|attr:"class:input-field-default"}}
     						</div>
     					</div>
     					<!-- Error -->
     					<div class="error">
     						{{form.new_password1.errors}}
     					</div>
     				</div>
     				<!-- Contraseña Nueva Confirmar -->
     				<div class="componente">
     					<!-- Field -->
     					<div class="field">
     						<!-- Label -->
     						<div class="container-label">
     							<label for="{{ form.new_password2.auto_id }}" class="label font-weight-bolder">
     							{{form.new_password2.label}}
     							</label>
     						</div>
     						<!-- Input -->
     						<div class="input">
     							{{form.new_password2|attr:"class:input-field-default"}}
     						</div>
     					</div>
     					<!-- Error -->
     					<div class="error">
     						{{form.new_password2.errors}}
     					</div>
     				</div>
          </div>
          <!-- Submit -->
     			<div class="componente">
     				<div class="container-submit background-red ">
     					<input type="submit" class="submit color-white text-shadow-black" value="Guardar Cambios">
     				</div>
     			</div>
     		</form>
     	</div>

      <div class="nota margin-auto-left-right">
        <p class="text-center">
          Enviar sus consultas a la Sub Gerencia de Tecnología de la Información mediante el correo electrónico:
          <span class="font-weight-bolder">tecnologia.informacion@munisanandres.gob.pe</span>
        </p>
      </div>
    </article>
  {% else %}
     <h1>Password reset unsuccessful</h1>
     <p>The password reset link was invalid, <br />
     possibly because it has already been used. <br />
     Please request a new password reset.</p>
  {% endif %}
{% endblock %}
