{% extends 'base_main_modulo.html '%}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% block title %} Restablecer Contraseña {% endblock %}

{% block section %}
<!-- Recuperar Contraseña -->
<article class="container padding-full">
	<!-- Saludo -->
	<div class="container border-bottom-red-1">
		<p class="titulo padding-full color-white text-shadow-black font-weight-bolder">
			Bienvenidos
		</p>
		<p class="sub-rayado background-red">

		</p>
	</div>
	<!-- Container Form -->
	<div class="flex-full-center padding-full-max-up-down padding-full">
		<!-- Formulario -->
		<form action="" method="post" class="form padding-full position-relative box-shadow-black border-radius-small border-top-black-1  border-bottom-black-1" id="form_login">
			{% csrf_token %}
			<!-- Form - Head -->
			<div class="form-head">
				<!-- Avatar -->
				<div class="logo_avatar">
					<figure>
						<img class=" background-white box-shadow-black radius-circular border-black-2" src="{% static "imagenes/png/Email_1.png"%}" alt="">
					</figure>
				</div>
				<div class="container margin-login">
					<p class="rotulo text-center color-azul font-weight-bolder ">
						Restablecer Contraseña
					</p>
				</div>
			</div>
			<!-- Form - Body -->
			<div class="form-body">
				<!-- Usuario -->
				<div class="componente">
					<!-- Field -->
					<div class="field">
						<!-- Label -->
						<div class="container-label">
							<label for="{{ form.email.auto_id }}" class="label font-weight-bolder">
							{{form.email.label}}
							</label>
						</div>
						<!-- Input -->
						<div class="input">
							{{form.email|attr:"class:input-field-default"}}
						</div>
					</div>
					<!-- Error -->
					<div class="error">
						{{form.email.errors}}
					</div>
				</div>

				<!-- Submit -->
				<div class="componente">
					<div class="container-submit background-verde-pastel ">
						<input type="submit" class="submit color-white text-shadow-black ">
					</div>
				</div>
      </div>
			<!-- Form - Footer -->
			<div class="form-footer">
				<!-- Mensaje Errores -->
				<div class="mensajeError">
					<p class="textError color-azul font-size-text">
						Ingresar el correo electrónico asociado a su usuario, se le enviará un mensaje con un link web
            indicando como ud. podra restablecer su contraseña.
					</p>
				</div>
			</div>
		</form>
	</div>
  <div class="nota margin-auto-left-right">
    <p class="text-center">
      <span class="color-red font-weight-bolder">Nota:</span>
      El link web es unico y tiene un periódo de caducidad.
    </p>
  </div>
</article>
{% endblock section %}
