{% extends 'base_main_modulo_nav.html '%}

{% load static from staticfiles %}
{% load widget_tweaks %}

{% block title %}
	Control de Asistencia | Cambiar Contraseña
{% endblock title %}

{% block src_avatar_modulo %} {% static "imagenes/png/Control_Asistencia_1.png"%} {% endblock src_avatar_modulo %}"
{% block alt_avatar_modulo %} Control de Asistencia {% endblock alt_avatar_modulo %}"

{% block nav-border %}
	border-bottom-red-1
{% endblock nav-border %}

{% block section %}
<!-- Login -->
<article class="container padding-full">
	<!-- Container Form -->
	<div class="flex-full-center">
		<!-- Formulario -->
		<form action="" method="post" class="form position-relative " id="form">
			{% csrf_token %}
			<div class="form-head padding-normal-up-down border-bottom-red-2">
				<h3 class="rotulo upper-case color-white text-shadow-black">
					Cambiar Contraseña
				</h3>
			</div>
			<!-- Form - Body -->
			<div class="form-body padding-normal-up-down">
				<!-- Contraseña Antigua -->
				<div class="componente">
					<!-- Field -->
					<div class="field">
						<!-- Label -->
						<div class="container-label">
							<label for="{{ form.old_password.auto_id }}" class="label font-weight-bolder">
							{{form.old_password.label}}
							</label>
						</div>
						<!-- Input -->
						<div class="input">
							{{form.old_password|attr:"class:input-field-default"}}
						</div>
					</div>
					<!-- Error -->
					<div class="error">
						{{form.old_password.errors}}
					</div>
				</div>
				<!-- Contraseña Nueva -->
				<div class="componente">
					<!-- Field -->
					<div class="field">
						<!-- Label -->
						<div class="container-label">
							<label for="{{ form.new_password1.auto_id }}" class="label font-weight-bolder">
							{{form.new_password1.label}}
							</label>
						</div>
						<!-- Input -->
						<div class="input">
							{{form.new_password1|attr:"class:input-field-default"}}

						</div>
					</div>
					<!-- Error -->
					<div class="error">
						{{form.new_password1.errors}}
					</div>
				</div>
				<!-- Contraseña Nueva Confirmar -->
				<div class="componente">
					<!-- Field -->
					<div class="field">
						<!-- Label -->
						<div class="container-label">
							<label for="{{ form.new_password2.auto_id }}" class="label font-weight-bolder">
							{{form.new_password2.label}}
							</label>
						</div>
						<!-- Input -->
						<div class="input">
							{{form.new_password2|attr:"class:input-field-default"}}
						</div>
					</div>
					<!-- Error -->
					<div class="error">
						{{form.new_password2.errors}}
					</div>
				</div>
			</div>
			<!-- Submit -->
			<div class="componente">
				<div class="container-submit background-red ">
					<input type="submit" class="submit color-white text-shadow-black" value="Guardar Cambios">
				</div>
			</div>
		</form>
	</div>
</article>
{% endblock section %}
