{% extends 'base_main_modulo_nav.html '%}
{% load static from staticfiles %}

{% block title %}
	Control de Asistencia | Nuevo Usuario
{% endblock title %}

{% block src_avatar_modulo %} {% static "imagenes/png/Control_Asistencia_1.png"%} {% endblock src_avatar_modulo %}"
{% block alt_avatar_modulo %} Control de Asistencia {% endblock alt_avatar_modulo %}"

{% block nav-border %}
	border-bottom-red-1
{% endblock nav-border %}

{% block section %}
<!-- Login -->
<article class="container padding-normal-up-down ">
	<!-- Container Form -->
	<div class="flex-full-center">
		<!-- Formulario -->
		<form action="" method="post" class="form position-relative " id="form">
			{% csrf_token %}
			<div class="form-head padding-normal-up-down border-bottom-red-2">
				<h3 class="rotulo upper-case color-white text-shadow-black">
					Usuario - Datos
				</h3>
			</div>
			<!-- Form - Body -->
			<div class="form-body padding-normal-up-down">
				<!-- Usuario -->
				<div class="componente">
					<!-- Field -->
					<div class="field">
						<!-- Label -->
						<div class="container-label">
							<label for="{{ form.username.auto_id }}" class="label font-weight-bolder">
							{{form.username.label}}
							</label>
						</div>
						<!-- Input -->
						<div class="input">
							{{form.username}}
						</div>
					</div>
					<!-- Error -->
					<div class="error">
						{{form.username.errors}}
					</div>
				</div>
				<!-- Password -->
				<div class="componente">
					<!-- Field -->
					<div class="field">
						<!-- Label -->
						<div class="container-label">
							<label for="{{ form.password1.auto_id }}" class="label font-weight-bolder">
							{{form.password1.label}}
							</label>
						</div>
						<!-- Input -->
						<div class="input">
							{{form.password1}}
						</div>
					</div>
					<!-- Error -->
					<div class="error">
						{{form.password1.errors}}
					</div>
				</div>
				<!-- Password -->
				<div class="componente">
					<!-- Field -->
					<div class="field">
						<!-- Label -->
						<div class="container-label">
							<label for="{{ form.password2.auto_id }}" class="label font-weight-bolder">
							{{form.password2.label}}
							</label>
						</div>
						<!-- Input -->
						<div class="input">
							{{form.password2}}
						</div>
					</div>
					<!-- Error -->
					<div class="error">
						{{form.password2.errors}}
					</div>
				</div>
				<!-- E-Mail -->
				<div class="componente">
					<!-- Field -->
					<div class="field">
						<!-- Label -->
						<div class="container-label">
							<label for="{{ form.email.auto_id }}" class="label font-weight-bolder">
							{{form.email.label}}
							</label>
						</div>
						<!-- Input -->
						<div class="input">
							{{form.email}}
						</div>
					</div>
					<!-- Error -->
					<div class="error">
						{{form.email.errors}}
					</div>
				</div>
				<!-- Número Tarjeta Mágnetica -->
				<div class="componente">
					<!-- Field -->
					<div class="field">
						<!-- Label -->
						<div class="container-label">
							<label for="{{ form.numero_tarjeta_magnetica.auto_id }}" class="label font-weight-bolder">
							{{form.numero_tarjeta_magnetica.label}}
							</label>
						</div>
						<!-- Input -->
						<div class="input">
							{{form.numero_tarjeta_magnetica}}
						</div>
					</div>
					<!-- Error -->
					<div class="error">
						{{form.numero_tarjeta_magnetica.errors}}
					</div>
				</div>
				<!-- Número Tarjeta Mágnetica -->
				<div class="componente">
					<!-- Field -->
					<div class="field">
						<!-- Label -->
						<div class="container-label">
							<label for="{{ form.numero_acceso_biometrico.auto_id }}" class="label font-weight-bolder">
							{{form.numero_acceso_biometrico.label}}
							</label>
						</div>
						<!-- Input -->
						<div class="input">
							{{form.numero_acceso_biometrico}}
						</div>
					</div>
					<!-- Error -->
					<div class="error">
						{{form.numero_acceso_biometrico.errors}}
					</div>
				</div>
				<!-- Submit -->
				<div class="componente">
					<div class="container-submit background-red ">
						<input type="submit" class="submit color-white text-shadow-black ">
					</div>
				</div>
			</div>
			<!-- Form - Footer -->
			<div class="form-footer">
				<!-- Mensaje Errores -->
				<div class="mensajeError">
					<p class="textError color-azul font-size-text">
						{% if form.non_field_errors %}
							  {% for err in form.non_field_errors %}
							 	 {{ err }}
							  {% endfor %}
						{% endif %}
					</p>
				</div>
			</div>
		</form>

	</div>
</article>
{% endblock section %}
